[2019-01-25 11:45] asergeant01 opened #1 "Missing README in pypi"
On installing via tox, the following error is produced:

Complete output from command python setup.py egg_info:
--
25-Jan-2019 11:13:33 | Traceback (most recent call last):
25-Jan-2019 11:13:33 | File "<string>", line 1, in <module>
25-Jan-2019 11:13:33 | File "/tmp/pip-build-PBGljc/docstr-coverage/setup.py", line 19, in <module>
25-Jan-2019 11:13:33 | long_description=readme(),
25-Jan-2019 11:13:

[2019-01-25 19:58] HunterMcGushion commented on #1
@asergeant01,

Thank you for bringing this up. I don't have any experience with Tox yet (ridiculous, I know), but it looks like the problem was that I forgot to add a "MANIFEST.in" file to the project.

Can you try to install the latest version (1.0.2), and let me know how it goes, please? Thanks for your help making the library better!

[2019-01-28 08:07] asergeant01 commented on #1
Seems now its not including the actual package...

    from docstr_coverage.coverage import _execute
ModuleNotFoundError: No module named 'docstr_coverage'

It seems the find_packages isn't working.... If you specify it, i think it works
      packages=['docstr_coverage'],

[2019-01-28 16:41] HunterMcGushion commented on #1
I released v1.0.3 to PyPI after merging your PR and listing your bug-fix in CHANGELOG.md.

I was able to install `docstr-coverage` under normal conditions, so can you please confirm that you're able to install via tox before we close the issue?

Thanks again for your PR (and for catching the bug in the first place)!

[2019-04-05 21:41] HunterMcGushion commented on #1
I'm going to close this issue, as it's been stale for a while, and as far as I can tell the problem has been fixed. @asergeant01, if this is not the case, please let me know, and we can revisit the issue!

[2019-04-05 21:41] #1 closed

[2019-09-28 18:24] jnsnow opened #5 "RFE: Parameter documentation coverage"
Hello!

I'm looking for a toolset that functions like Doxygen for Python, which includes the ability to warn (or error) when generating docs that do not document the semantic meaning of parameter names and return values.

Checking for the presence or absence of docstrings is trivial enough for tools like sphinx, sphinx-autodoc, sphinx-coverage, etc. However, I'm interested in developing an extensi

[2019-10-02 06:39] HunterMcGushion commented on #5
@jnsnow, thanks for opening this issue! Early in the project, I considered doing something like what you're talking about, but decided not to for two reasons:

First, like you say, people use different docstring styles, which obviously adds quite a bit of complication. This complication is further complicated by the fact that some people don't even use one of the ~2 generally-accepted docstring st

[2019-10-02 15:35] jnsnow commented on #5
Absolutely, your case makes a lot of sense. I realize this was a bit of an overreach, but I am reaching out to several projects to try to gain an understanding of where a tool like this might fit into the ecosystem and try to understand if pursuing a tool like this would be useful for the community. (And, importantly, find out if any existing project feels that it's within scope already so that I

[2019-10-02 15:35] #5 closed

[2019-11-15 16:35] afparsons opened #7 "PyPi version not current (missing -d option)"
Installed from PyPi:
`$ pip install docstr-coverage`

Checked version:
`$ pip show docstr-coverage`

[code]

`$ docstr-coverage -d <...>`

[code]
It appears that this feature was added in [May 2019](https://github.com/HunterMcGushion/docstr_coverage/commit/0c3fd2e93226d15acde9f1637ca68fa47553a676) but the latest PyPi release was in April 2019.

[2019-11-15 17:32] afparsons opened #8 "-d option prevents level 3 verbosity"
I might be doing something wrong, but it seems that the verbose output for levels `2` and `3` are the same when using option `-d`.

Installed on 15 November 2019 via:
`pip install git+https://github.com/HunterMcGushion/docstr_coverage.git`

I've created a regex ignore file `docstr_ignore.txt` containing this single line:
[code]

I've run the program with both levels of verbosity:
`$ docstr-coverag

[2019-11-19 02:21] HunterMcGushion commented on #7
Thanks for the heads-up, @afparsons, and I apologize for the delay. Once I merge #6, I'll prepare the next release.

[2019-11-19 02:27] HunterMcGushion commented on #8
Thanks for opening this, @afparsons!
Just to clarify on your last statement, are you saying that `-v` behaves as expected without `-d`? Then the addition of `-d` messes with `-v`?

Would you be able to paste a minimal example python file so I can reproduce your results? Or do you see similar results if we run this against the library's own `coverage.py` file as an example?

[2019-11-20 21:08] afparsons commented on #8
Hi @HunterMcGushion,

Yes, exactly that. It sounds strange, but there might be some control flow bug somewhere.

I was running this against a large internal project...I'll try to find some postable code to run this against. I did not try running this using the `coverage.py` file.

[2020-01-18 08:41] arita37 opened #9 "Doc generation tool"
What do you think of this light-weight doc generating tool ?

https://github.com/arita37/cli_code/tree/dev/

[2020-01-18 21:59] HunterMcGushion commented on #9
Thanks for sharing your tool, @arita37! It sounds really cool, but I cant really tell exactly what it does. It'd be immensely helpful to put an example of what your tool does in your repo's README. A simple before and after would make a huge difference and help people understand how to use your tool. I'm going to close this issue as it isn't related to `docst_coverage`, but if you want to continue

[2020-01-18 21:59] #9 closed

[2020-01-19 03:28] arita37 commented on #9
There are few utilities :

one of these
 cli_docs  myrepo

generates the list of signatures for one repo
  classname.methodname(....)

Very useful when you have new unknown code.

Others are auto-install of package
from code source parsing....

[2020-03-03 23:38] we-taper opened #10 "Failed to parse ..docstr_converage if there is only one pattern"
This is due to [this](https://github.com/HunterMcGushion/docstr_coverage/blob/84ee0008d54a2f28bcf6a927a72952cb9bb2aad6/docstr_coverage/coverage.py#L428) line:
[code]
Example configuration file:
[code]

[2020-03-21 01:00] HunterMcGushion commented on #10
Thanks for opening this issue! Unfortunately, I wasn't able to reproduce the error with single-line configuration files. Can you show me the full command you used when you got the error?

[2020-03-28 13:20] we-taper commented on #10
Thanks for the reply.

I did not pass any arguments to it since I named the file `.docstr_coverage` which is the default option for `--docstr-ignore-file` ([here](https://github.com/HunterMcGushion/docstr_coverage/blob/cfea92e7dd444abc739d2500a89485ec00f3ae11/docstr_coverage/coverage.py#L383).

The error is caused by `if ' ' in line`, since there isn't a blank space ` ` in my configuration since,

[2020-04-21 13:11] econchick commented on #8
I have the same issue:

[code]

[2020-05-06 06:29] fabiosangregorio opened #12 "Add coverage badge"
Love the project! It works really well in discovering what docstrings are missing and how much the software is documented. Thank you for that.

I was wondering if an option to output a status badge could be added, or in alternative an option to only output the overall percentage score so we could create our Shields.io custom status badge with the documentation percentage coverage.

PS: sorry, I do

[2020-05-06 11:21] fabiosangregorio opened #13 "error: no such option: --fail-under"
In the docs is mentioned the option `--fail-under=<int|float>, -F <int|float>` but using it via the CLI results in the following error:
[code]

Am I doing something wrong?

Version is `1.0.5`

[2020-05-07 07:31] HunterMcGushion commented on #13
Thanks for reporting this, @fabiosangregorio! This feature hasn’t been released on PyPI yet, so you’d have to install the master branch from GitHub to use it at the moment. I’ll get the next version released as soon as possible. Sorry for the confusion!

[2020-05-07 07:33] HunterMcGushion commented on #12
Thanks for the suggestion, @fabiosangregorio! I love the idea of adding a badge, unfortunately I’ve never done that so I’m not sure how to go about adding one right now. Would you be interested in looking into it/submitting a PR?

[2020-05-07 07:54] fabiosangregorio commented on #13
All right then, I'll install from master then, Thank you :)

[2020-05-07 08:56] fabiosangregorio commented on #12
I'm looking into it, although it looks a bit complicated. I'll keep you posted.

[2020-05-16 08:26] killthekitten commented on #13
@HunterMcGushion need any help with this one?

[2020-05-16 08:37] killthekitten commented on #13
@fabiosangregorio the actual option is `--failunder`.

[2020-05-16 09:20] killthekitten commented on #10
@we-taper based on your config, I believe you wanted to ignore all the tests files. This can be done with the `--exclude` option.

The `--docstr-ignore-file` does something else. It ignores functions per file. Every line then should consist of at least two patterns separated by spaces. The first one is the pattern that matches the file, and all the others filter out functions in that file.

I can

[2020-05-16 09:34] killthekitten opened #15 "Ignored functions reduce total coverage"
I'd like to maintain a 100% docstr coverage with an exception of ignored functions. I'd then add a check to the CI build, and hopefully forget about it. Currently, the ignored functions add to the total coverage, reducing it by a bit and breaking the build.

Let's say I'd like to ignore all the wrappers in the project:

[code]

Here's the output I get:

[code]

The ignored functions are correctly

[2020-05-20 20:59] HunterMcGushion commented on #13
Terribly sorry about the delay, @fabiosangregorio and @killthekitten! Yes, that's a good point, @killthekitten. Thank you for the offer to help, but I'll get the release done as soon as I review your PR #14! Again, I apologize for the delay.

[2020-05-20 21:04] #13 closed

[2020-05-20 21:17] HunterMcGushion commented on #15
@killthekitten, thanks a lot for reporting this! Definitely a bug! You're absolutely right about the project needing tests, but if you're still interested in making a PR, I'd love to get this issue fixed, as well! Thanks a lot for your time and help!

[2020-05-20 21:51] killthekitten commented on #15
@HunterMcGushion I'd like to set up a safety net in form of pytest/flake/black and a couple tests. Do you have any strong opinions on it?

[2020-05-20 22:09] HunterMcGushion commented on #15
I am strongly in favor of adding proper tests, Black format checks, and Travis integration! I would absolutely love to work with you on the safety net! If you're on Slack, I just made a new [workspace for DocstrCoverage where we can discuss details](https://join.slack.com/t/docstr-coverage/shared_invite/zt-eo1wjmm9-Zd5AakZAe8wPvJZOeKlZfw). Otherwise, we can certainly collaborate here if that's bet

[2020-05-22 18:06] killthekitten commented on #15
@HunterMcGushion I'd go for GH actions instead of Travis. It's proven nice in the projects I work on. I'll set up something in the upcoming days!

[2020-05-25 20:12] HunterMcGushion commented on #15
I've heard good things about GH actions, so I'm willing to give it a shot, but I've never used it, so I may need your help setting things up. Thanks for all your work on #16!

[2020-05-25 20:14] HunterMcGushion commented on #7
I'm closing this because it's old and should no longer be a problem. Feel free to reopen if you think this was closed in error.

[2020-05-25 20:14] #7 closed

[2020-05-26 10:05] killthekitten commented on #1
@asergeant01 could you elaborate on how you encountered the `ModuleNotFoundError`? Were you running `tox` in a project where `docstr_coverage` is a dependency, or were you installing the library for local development?

In case of the latter, that would be an expected behavior. You can find more details in [this discussion](https://github.com/pytest-dev/pytest/issues/2287). The gist of it, install

[2020-05-29 19:12] HunterMcGushion commented on #8
Hi, @afparsons and @econchick! Sorry it took far too long for me to get to this, but could you check out PR #19 (WIP) to see if it solves your problems? You should be able to install that branch with the following command:
[code]

I'm in the process of polishing everything up and adding regression tests, so if it looks good to you, we can release soon. Thank you both for your very helpful reports

[2020-05-29 22:11] HunterMcGushion commented on #10
@we-taper, ahh I understand the problem now. In addition to @killthekitten's recommendation, you can append ` .*` to the end of the line in your configuration file to make it the following:
[code]
Note the space before the added `.*`. This means to ignore all nodes (functions/classes/methods) in the file. This does not apply to the file docstring; however, that can be ignored via the `-f` CLI opti

[2020-05-30 09:48] we-taper commented on #10
I see. Now I got it. Thanks guys!

[2020-05-30 09:48] #10 closed

[2020-06-03 17:53] killthekitten commented on #12
@fabiosangregorio great idea, and I didn't know about shields.io!

I would suggest to copy what https://github.com/dbrgn/coverage-badge does, it seems pretty lightweight, although it piggybacks the complex coverage.py output format. They also use shields.io by the way. It would require some boilerplate from the end user, of course.

[2020-06-04 12:58] fabiosangregorio commented on #12
# What I'm using
I'm currently using a [custom python script](https://github.com/fabiosangregorio/telereddit/blob/master/.github/workflows/scripts/docs.py) I wrote to generate a shields.io static badge and write it in the README.md, and then committing the file through a Github Action.

It just:

Loads the docstr_coverage output file and extracts the total coverage percentage:
[code]

Computes the

[2020-06-04 19:45] HunterMcGushion commented on #12
Wow, thanks for being so thorough, @fabiosangregorio! This is a really cool solution. My concern is that, as you already said, "This is very custom to [your] setup", and I think some people might have some reservations about letting us edit their readme directly. This is some seriously awesome work, though, and I applaud your creativity! Just so I can better understand what you're doing, does your

[2020-06-04 21:16] #8 closed

[2020-06-04 21:24] HunterMcGushion commented on #8
I went ahead and merged the fix, but if either of you are still experiencing the bug, please feel free to reopen this issue!

[2020-06-04 21:57] killthekitten commented on #12
@HunterMcGushion as I understood @fabiosangregorio, he suggests to implement a CLI command/option that outputs an updated SVG once the checks are finished. The integration is entirely up to the user then.

It could look like this:

[code]

[2020-06-05 06:54] fabiosangregorio commented on #12
This is right @killthekitten, this would be totally independent from Github Actions. One could also run this command on a pre-commit hook and directly commit the file without running any pipeline.

You really got the exact point of my solution and the problem that comes with it @HunterMcGushion ! The Github Action I'm using adds, commits and pushes changes made by the workflow to the repository:

[2020-06-05 19:58] HunterMcGushion commented on #12
Understood! Thank you for your help, and good luck with your exams!

[2020-06-11 02:51] HunterMcGushion commented on #12
Hey, @fabiosangregorio and @killthekitten! When you get a chance, could you take a look at #22, please? You should be able to install it with
[code]
I'd like to add a few more tests, but it is all working now. Is this what you two were picturing? If you have time to do a formal review and make some suggestions, I'd very much appreciate it!

[2020-06-11 16:17] fabiosangregorio commented on #12
This is exactly what I was thinking about! I reviewed the PR, very well implemented.
I'm trying it out and it looks like it does the job. I don't need to run my custom script anymore, I just have to commit the new badge image, as expected.

I just want to point out two things:
- I noticed that running the package with `--failunder=70 --badge ...` creates the badge file regardless of the fact that

[2020-06-11 19:57] HunterMcGushion commented on #12
@fabiosangregorio, thanks for taking a look!

Hmmm that's a very good point... I suppose it's safe to assume that if someone is using
`--failunder` and it does fail, then they're going to want to fix the problem before merging anything, so the badge is useless. If they do decide to merge despite the failure, though, I think the badge should reflect the actual coverage. I'm feeling a bit conflicted

[2020-06-11 20:49] fabiosangregorio commented on #12
Yeah, thinking more about it, I definitely agree. I think this setup is great and is the best that can be done without using an active service to serve the badges.

[2020-06-11 20:56] fabiosangregorio opened #23 "--failunder fails if coverage is less than 100% in Github Workflows"
Running the package with the `--failunder` option in a Github Workflow, the process exits with code 1 even when the total coverage percentage is above the threshold. The only case in which the process exits with 0 is when the coverage is 100%.

This only happens in Github Workflows though, while running the command on my terminal works as expected.

Example (See [this Github workflow run](https://

[2020-06-16 17:54] #12 closed

[2020-06-16 17:55] HunterMcGushion commented on #12
@killthekitten, sorry if I merged before you had a chance to review the PR, but if you have any problems/concerns, we can absolutely reopen this issue or open a new one, as I'd love your feedback!

[2020-06-16 20:27] killthekitten commented on #12
@HunterMcGushion sorry for taking too long, I'll definitely take a look at it sooner or later.

[2020-06-24 08:11] killthekitten commented on #23
@fabiosangregorio are you sure the snippet you provided is the failing example?

From what I can see in the failing build, the `failunder` option is not even used:

[code]

Looks like `exit ${PIPESTATUS[0]}` (`pydocstyle?`) is the reason.

[2020-06-24 10:49] fabiosangregorio commented on #23
Wooops Sorry, I linked the wrong run. This is the correct one: https://github.com/fabiosangregorio/telereddit/runs/762318523?check_suite_focus=true#step:12:3

[2020-06-24 11:33] killthekitten commented on #23
@fabiosangregorio thanks! Still, it seems that `docstr_coverage` exits without an error code:

[code]

It's an error from `pydocstyle`. Do I miss something here?

[2020-06-24 18:54] fabiosangregorio commented on #23
Oh I see, you're right. I forgot about running pydocstyle in the same command, my bad 😅
This can be closed.

[2020-06-24 18:55] #23 closed

[2020-06-24 18:56] HunterMcGushion commented on #23
Awesome! Thanks for looking into this, @killthekitten!

[2020-06-28 13:11] killthekitten commented on #15
@HunterMcGushion I might be barking up the wrong tree. There's nothing wrong with the coverage calculation in my case, it's only an output problem. Actually, there's two problems, and a user error.

Here's the output when running without the ignore file:

[code]

[code]

Looking at the above, I wrongly assumed that the regular expression in the ignore file would filter against the string `function

[2020-06-29 23:06] HunterMcGushion commented on #15
You're barking up the right tree, @killthekitten! Thanks for bringing this up. That's definitely weird behavior. Are the other 4 functions (`function_two` -> `function_five`) identical to `function_one`? Also, from your output, it looks like it doesn't complain about the fact that `function_one` itself is missing a docstring. It only cares about the nested `wrapper`. Is that correct?

Just to make

[2020-06-30 06:19] killthekitten commented on #15
@HunterMcGushion I probably went too abstract with the code.

The function_one and so on docs were present, the ignore file was `.* \.wrapper`.

[2020-07-09 19:33] killthekitten commented on #15
Kebab case is ❤️

This should be closed.

[2020-07-09 19:33] #15 closed

[2020-07-21 10:06] ChristianSauer opened #27 "Release?"
Hey, I noticed some improvements in master vs the latest release. Could you kindly release them? I would ease our CI flow considerably.
Thx!

[2020-07-21 19:47] HunterMcGushion commented on #27
@ChristianSauer, absolutely! So sorry for making you ask! V1.2.0 was just released. You can see what's been added in [the changelog](https://github.com/HunterMcGushion/docstr_coverage/blob/master/CHANGELOG.md#120-2020-07-21). Thank you for your support!

[2020-07-21 19:47] #27 closed

[2020-07-22 05:51] ChristianSauer commented on #27
THank you very much!

[2020-08-10 08:47] MiWeiss opened #28 "Docstrings + Inheritance"
I am getting false `missing documentation` on methods that inherit the documentation from their superclasses.
Is there any way to avoid this?

[2020-08-20 06:44] fabiosangregorio opened #29 "--exclude not working anymore?"
Hey Hunter :)

I noticed that in version `1.2.0` `--exclude` option is not working for me anymore. Running the following command:
[code]
Gives the following result:
[code]

While running it with version `1.1.0` gives the following:
[code]

PS: after my september exams I'll get around to fix the shields badge :)

[2020-08-26 21:09] HunterMcGushion commented on #29
@fabiosangregorio, thanks for the report! I was able to reproduce this, and it looks like the regex matching for `exclude` is ignoring a user's current working directory. As a workaround, can you try `docstr-coverage --exclude=.*/tests telereddit`? At the moment, I'm thinking the fix would be to prepend a user's working directory to the `exclude` pattern.

Regarding the badge, that sounds awesome!

[2020-08-26 21:38] HunterMcGushion commented on #28
@MiWeiss, thanks for your report! Sorry about the unexpected/incorrect behavior. I made a small sample file (`sample_file.py`) to better understand the problem:

[code]

Running `docstr-coverage --skipclassdef --skipfiledoc sample_file.py` outputs (among other things)
[code]

Am I correct in assuming this is the behavior that's causing you problems?

I understand how this could be frustrating, but

[2020-08-27 05:29] fabiosangregorio commented on #29
Unfortunately `--exclude=.*/tests` does not ignore the tests either for me (Windows, Python 3.8.1). No worries though, I'll just keep using version 1.1.0 until a fix is released.

[2020-08-27 12:01] MiWeiss commented on #28
Thanks a lot for taking the time to write such a detailed answer and of course for maintaining this library! Much appreciated!

Yes, this is correct.

I see that in many cases you might be right. However, I don't agree in general. Let me mention two examples where I probably almost always want to inherit the superclass docstring:

* Methods that override an `abc.abstractmethod` method: In such a c

[2020-08-27 19:28] HunterMcGushion commented on #29
Oh sorry, on Windows would you mind trying `--exclude=.*\tests` (switching the forward slash with a backslash)?

[2020-08-27 21:03] HunterMcGushion commented on #28
Those are great points! Thanks for outlining places where this would be necessary.

Your idea of using comments to mark overridden methods that shouldn't be checked (rather, their parent classes' methods should be checked) seems like a great solution! Another plus is the fact that it's a familiar pattern already in use by PyCharm's `noinspection` comments, Pylint, and others. As you say, my only c

[2020-08-28 04:56] MiWeiss commented on #28
Sounds great.

I'll see if I find a couple of hours in the next days to see how this could be set up. However, my calendar is currently quite full and this looks like a major change; thus I don't want to promise a PR yet ;-)

One thing already worth mentioning: AST does not parse comments, thus I will have to add another dependency to `docstr_coverage`. Fine with you?

[2020-08-28 06:21] fabiosangregorio commented on #29
Nope, that doesn't work either. I tried a bunch of different combinations but none works. If you need more info for debugging this on Windows feel free to let me know!

[2020-08-31 19:26] HunterMcGushion commented on #28
I totally understand! Either way, thanks for your support and for bringing this up!

Yeah after some brief research, I was thinking we'd need a new dependency as well. I'd be fascinated to see a solution that doesn't add a new dependency if you found something, but I'm open to adding another one if necessary.

[2020-09-01 16:11] cputans opened #30 "HTML / RST output generator"
Before submitting a PR with this functionality, want to confirm that adding the ability to generate ReStructuredText (for use with Sphinx) or HTML output of the coverage information is desired.

[2020-11-16 15:13] cthoyt opened #31 "Allow skipping docstrings of private methods (that start with a single underscore)"
Private methods are conventionally named starting with a single underscore (`_`). They usually are not for use by end-users, and are often not documented. It would be nice if `docstr-coverage` could be configured to skip reporting on these functions.

I can imagine a very simple PR to add the functionality within an additional conditional in the following code block (and another `click.option()` i

[2020-11-17 20:53] HunterMcGushion commented on #31
Love it! I just reviewed your PR. Thanks for your work, @cthoyt!

[2020-11-17 22:04] #31 closed

[2020-11-25 21:05] mBouamama opened #33 "SkipMagic seems not working"
Hi hunter!!!
I try:
`docstr-coverage --skipmagic  MyJWT`

output:
[code]
Can you help me to solve this problem?

PS: I love your package and i want integrate docstr_coverage to my CI. Do you have a badge like this [![codecov](https://codecov.io/gh/mBouamama/MyJWT/branch/master/graph/badge.svg?token=V7yZJ1bZV9)](https://codecov.io/gh/mBouamama/MyJWT) for docs_str ?

[2020-11-30 21:52] HunterMcGushion commented on #33
Hi, @mBouamama! Thanks for opening this issue. Can you try using the `--skipinit` option instead of `--skipmagic`?
It seems that `--skipinit` is missing from the README, which is definitely bad, so thank you for bringing this up.

Regarding your badge question, you can use the `--badge=<filepath>` option to save a docstring coverage percentage badge SVG to the given filepath. From there, you can i

[2020-12-01 10:02] fabiosangregorio commented on #33
Hello @HunterMcGushion , @mBouamama . It has been a while :)
Unfortunately, the shields.io badge for docstr_coverage is stuck until Github implements GraphQL queries on Github Actions (currently only json queries are supported). For now you have to commit the badge svg file to the repo code (either through Github Actions or by running docstr_coverage and committing the file manually).

[2020-12-01 17:38] mBouamama commented on #33
Hi @fabiosangregorio , @HunterMcGushion , thx for your response. --skipinit option works!!And thx for --badge option.

[2020-12-01 18:21] HunterMcGushion commented on #33
@fabiosangregorio, thank you for the update and for your help!

@mBouamama, glad to hear `--skipinit` works for you. I'll close this issue once the docs/README have been updated to include it. Thanks again for reporting it.

[2020-12-05 21:09] #33 closed

[2020-12-07 10:00] MiWeiss commented on #28
The workaround is implemented and released and automatic detection of docstring inheritance is out of scope.

The issue can be closed

[2020-12-07 10:00] #28 closed

[2020-12-07 21:41] HunterMcGushion opened #37 "[RFC] Deprecate CLI options to use kebab-case"
If anyone has any thoughts/ideas on this, please feel free to comment (especially if you think this is a bad idea).

I'd like to convert all CLI options to use kebab-case. Specifically, this would affect the following options:
- `--skipmagic` -> `--skip-magic`
- `--skipfiledoc` -> `--skip-file-doc`
- `--skipinit` -> `--skip-init`
- `--skipclassdef` -> `--skip-class-def`
- `--followlinks` -> `--fol

[2020-12-07 21:41] HunterMcGushion commented on #37
@cthoyt, any thoughts?

[2020-12-07 22:21] cthoyt commented on #37
I don't think overengineering this one is the way to go since they're all options anyway. You could introduce new options and do some logic inside the CLI function itself that takes the value coming from an old command and overwrites the new name if it's set. This wouldn't take more than a few minutes to code so I'll send a PR demonstrating my solution.

[2020-12-07 22:24] HunterMcGushion commented on #37
Hahah very glad I asked! Thanks for being willing to put something together.

[2020-12-08 19:47] #37 closed

[2020-12-15 09:25] MiWeiss opened #40 "integrate ingnore-file in yaml config"
This is a follow-up issue to PR #39.

With #39 we will potentially have two config files. This is a bit much for a single script.  I guess that from a user's perspective, it would be nicer if they could (optionally) put everything in one file.

I'd imagine something where a file with this content...

...could be replaced in yaml with something along the lines of:

[code]

The open question would o

[2020-12-15 18:55] HunterMcGushion commented on #40
This is a great idea. Just so others can follow along, this is referring to the `--docstr-ignore-file` option added in https://github.com/HunterMcGushion/docstr_coverage/pull/4. This would be a fantastic addition after we merge #39.

Regarding what to do if both the filepath and this array are provided in the yaml, I'm not too sure. I think it would also make sense to choose one of the two options

[2020-12-15 19:57] MiWeiss commented on #40
I'll take care of it once #39 is merged

[2020-12-21 14:31] wearpants opened #44 "Support for analyzing Python 2 code?"
Wasn't clear from the readme - is it possible to use this project to analyze Python 2 code (with current release or perhaps an older version)?

I'm working on upgrading a large existing code base, and docstring coverage would be a useful metric to guide my efforts.

[2020-12-22 19:53] MiWeiss commented on #29
I was able to reproduce this issue and am working on a fix.

It may take a while though as this fix will be delivered as part of a larger windows compatibility PR and holidays are coming up.

In the meantime: `--exclude=.*\\tests` works on my machine ;-)

[2020-12-22 19:57] MiWeiss commented on #40
Quick heads-up: This feature is working on my PC, thus a PR can be expected relatively soon.
However, over Christmas, I'll only have a win machine at my disposal; thus, out of pure self-interest, before I open a PR for this issue, I'll do some work on windows compatibility of the test suite ;-)

[2020-12-22 21:17] MiWeiss commented on #44
Hi there

Disclaimer: I'm not the maintainer - my answer could be complete bogus ;-)

`docstr-coverage` is built for python3 and heavily relies on the `ast` module. The `ast` module [can only handle for the version of python it is shipped with](https://stackoverflow.com/questions/26655818/how-to-parse-python-2-x-with-python-3-x-ast-module). Thus, without having tested it, I do not expect this to w

[2020-12-22 22:48] HunterMcGushion commented on #44
@wearpants, after attempting to install in a Python 2 virtual environment, I can confirm everything @MiWeiss said. Additionally, Click no longer supports Python 2, although I'm sure there are other issues that would need to be addressed to add support.

I also think that @MiWeiss's suggestion of using the original, Python2-only [docstring-coverage](https://bitbucket.org/DataGreed/docstring-coverag

[2020-12-22 22:55] HunterMcGushion commented on #40
Sounds great! Thanks a lot, Michael! Hahaha I would have to disagree with your comment that your selfless work is out of "pure self-interest", but thank you for tackling the issue of Windows compatibility. I rarely use Windows, so I appreciate you taking the lead on this.

[2020-12-23 21:57] #29 closed

[2020-12-27 20:12] MiWeiss commented on #30
Let me post my opinion on this:

**TL;DR: I am afraid that implementing HTML/RST/.... outputs would decrease the stability of `docstr-coverage`. A simple XML/JSON output might become simple to add in the future.**

Detailed arguments:

1. **use case** I am having trouble thinking about central use-cases of this feature. In test-coverage, nicely visualized reports are critical to identifying test w

[2021-01-08 20:40] MiWeiss commented on #40
This is now merged

[2021-01-08 20:40] #40 closed

[2021-01-09 02:30] epassaro opened #47 "No Python files Exit Code"
Hi!

We're trying to make a GitHub workflow to integrate `docstr-coverage` as you can [see here](https://github.com/tardis-sn/tardis/pull/1409/files). In that workflow `docstr-coverage` is run just on the files modified on the pull request that triggered the workflow.

My problem is, if no `.py` file is modified on a PR, then the `No Python files` output also exits with code `123` making the Actio

[2021-01-09 18:42] MiWeiss commented on #47
I think this request is based on a very valid usecase and I do agree that `docstr-coverage` should allow 0-file inputs!

However, I do not really like the idea of directly changing the exit code: IMO, if I pass a wrong directory (leading to no files found), I would like `docstr-coverage` to fail.

Hence, I see the benefits of both failing and passing if no files are found. This is in line with sim

[2021-01-09 20:13] HunterMcGushion commented on #47
@epassaro, thanks for bringing this up! Like @MiWeiss, I'm hesitant to change the default exit code.

I think @MiWeiss's suggestion of adding a new flag, which would print a warning and return an exit code of 0 when no `.py` files are found is a great idea! Would this be sufficient for your case, @epassaro?

[2021-01-09 20:19] epassaro commented on #47
Yes, sure. Seems the right choice!

[2021-01-09 20:21] HunterMcGushion commented on #47
Fantastic! @MiWeiss, thank you for offering to take this on!

[2021-01-09 21:27] MiWeiss commented on #47
@eparasso please check out my comment in #48 (as you are not yet part of the pr discussion, you probably did not receive a notification)

[2021-01-09 22:01] #47 closed

[2021-01-10 21:02] HunterMcGushion commented on #44
I'm closing this as we don't plan on adding Python 2 support. I hope you find a solution that works for you, @wearpants.

[2021-01-10 21:02] #44 closed

[2021-01-11 22:14] cthoyt opened #51 "Problem with CLI"
I got the following issue with the `docstr-coverage --help` on v2.0.0.

I think changing `"[{}]".format("|".join(self.choices))` to `"[{}]".format("|".join(map(str, self.choices)))` would solve this issue

[code]

[2021-01-11 22:16] cthoyt commented on #51
On second thought, this is happening inside click. Maybe the choices shouldn't be given as integers in

https://github.com/HunterMcGushion/docstr_coverage/blob/6d30922cdc21e036e673204bb498776e33d9969a/docstr_coverage/cli.py#L154-L163

Providing a fix for this TODO would also probably solve my issue

[2021-01-11 22:54] HunterMcGushion commented on #51
@cthoyt, thanks for bringing this up. I definitely should've checked to see that `--help` was still working after the change, but at the time it looked like it was necessary for #39 to be able to handle number options when parsing them from a YAML file. There's some discussion related to it [here](https://github.com/HunterMcGushion/docstr_coverage/pull/39#discussion_r544772168).

As you noticed fr

[2021-01-30 12:30] epassaro commented on #47
If you are interested, we recently merged the `docstr-coverage` pipeline: https://github.com/tardis-sn/tardis/blob/master/.github/workflows/docstr-coverage.yml

[2021-01-30 17:17] MiWeiss commented on #47
Great :-) I'll definitely keep a pointer to your workflow. What a beautiful application of `docstr-coverage`!

[2021-01-30 17:35] HunterMcGushion commented on #47
Thanks a lot for sharing, @epassaro!

[2021-02-25 14:54] MiWeiss commented on #30
I'm proceeding with closing this issue for the reasons described above.

Feel free to comment if you disagree - I'll happily reopen...

[2021-02-25 15:01] MiWeiss opened #56 "Add option to sort reports"
Allowing to sort reports has been a `todo` for a while [(here)](https://github.com/HunterMcGushion/docstr_coverage/blob/v2.0.0/docstr_coverage/cli.py#L277).

Preferably, an implementation of this should introduce some new 'result-store' type object, allowing to sort and output after the metrics for all files have been collected. Such an object would further facilitate the creation of structured fi

[2021-03-01 23:28] #51 closed

[2021-03-04 15:55] MiWeiss opened #59 "Drop Python 3.5 Support? Python 3.6 Backports"
This is a call for opinions and not an actionable issue.

#### Current Situation

- Python 3.5 has reached end-of-life in September last year.
- Python 3.6 is expected to reach end-of-life by the end of this year (schedule: [PEP494](https://www.python.org/dev/peps/pep-0494/#lifespan)
- docstr-coverage supports 3.5 - 3.9
- Some exciting language features (e.g. `dataclasses`) are not available in 3.

[2021-03-04 17:53] HunterMcGushion commented on #59
Thanks for starting this conversation, @MiWeiss. I also like the idea of using the new language features, but I do have concerns about dropping support for older Python3 versions. As we saw in #44, sometimes (in rare situations) developers are stuck with older versions of Python.

That said, it does help to see the numbers of downloads on Python 3.5, so if we can find backports for 3.6, I think I'

[2021-03-04 23:23] jmaunon opened #60 "Question: github action diff docstr_coverage"
This is an open question: Have you though about how to use `docstr_coverage` on a Pull Request?
I mean, I was thinking to deny a PR if the PR reduces the `docstr_coverage` in a given %. In order to do that it would be needed to compare the branches.
Do you have an idea if this is feasible?
Thanks!

[2021-03-05 06:53] MiWeiss commented on #60
Hi @jmaunon

Thanks a lot for your question. This is already possible. Have a look at this beautiful action, doing exactly what you want: https://github.com/tardis-sn/tardis/blob/master/.github/workflows/docstr-coverage.yml

I'm also working on a ready-to-use github action (a docstr-coverage wrapper) facilitating cool things like this, and more. Stay tuned ;-)

[2021-03-05 06:53] #60 closed

[2021-03-05 07:48] jmaunon commented on #60
Thanks!

[2021-05-10 19:52] MiWeiss commented on #56
As the `result-store` is now merged and sorting is on the roadmap, I'll close this. Sorting will probably be handled in the `-report` issue, once created. There is no plan on adding sorting without `--report`

[2021-05-10 19:52] #56 closed

[2021-06-18 14:22] bjornconstructors opened #79 "AssertionError: An unexpected context occurred... with file"
When I have a file like so:

[code]

I get:
[code]

[2021-06-18 18:42] MiWeiss commented on #79
Thanks for your report. I was unfortunately not capable to reproduce this issue. Do you have any additional info that may help me?

E.g.
- OS
- used docstr-coverage config / flags
- python version
- docstr-coverage version

Thank you

[2021-06-22 10:04] bjornconstructors commented on #79
@MiWeiss I think I made a small mistake in the reproduction example, please try this:
[code]

docstr-coverage version: 2.0.1 on Ubuntu 20.04.2 LTS with the default config flags (e.g. no `.docstr.yaml` or flags passed to the command, on Python 3.8.5:
[code]

[2021-06-22 10:21] MiWeiss commented on #79
Successfully reproduced! Thank you.

It's a strange issue: With up to 8 lines in the docstring, it works fine; more lines break it - independent on whether the lines are empty or not. Thus I assume it's somehow related to an AST parsing. May I ask you what you use these empty lines for?

Not sure when I'll find the time to investigate this in detail, but I hope it is soon :-)

**Workaround 1 (sugg

[2021-06-22 11:19] bjornconstructors commented on #79
@MiWeiss Thanks for your answer. Indeed, I solved it now by adding an exclusion in `.docstr.yaml` but preferably I would not need to do that. The issue is that in our codebase we have 1 very big docstring comment in a file, which causes the above crash.

No rush needed for the fix, since we can workaround it :).

[2021-06-22 18:47] MiWeiss commented on #79
@bjornconstructors Thanks. I thought you were actually using the empty docstring, which is something I've never seen anywhere, so I was curious.

I just checked the problem in-depth and it appears the `AssertionError` was a false alert. The PR to fix that is open, we hopefully get it released soon :-)

[2021-06-22 19:21] HunterMcGushion commented on #79
Thank you, @bjornconstructors for reporting this and helping @MiWeiss reproduce and fix the issue!
@MiWeiss, thank you for your (always) excellent work and prompt response!

[2021-06-22 19:26] #79 closed

[2022-04-09 22:38] Paebbels commented on #30
@MiWeiss I would like to deliver a use case.

We have lot's of Python projects (mainly library packages) which utilize:
* code coverage (coverage.py)
* static type checking (mymp)
* unit testing and performance testing(pytest)
* automatic documentation (Sphinx)
* ...

All is executed with GitHub Actions and published to GitHub Pages. Besides the Sphinx documentation, we also upload and publish the

[2022-04-10 22:11] Paebbels commented on #30
I did some prototyping and got this ...

![image](https://user-images.githubusercontent.com/956109/162641842-4e9d4a4d-27d3-4b03-9ae8-f71a795bf106.png)

while working on that code I found several limitations of `docstr_coverage`:
* Statistics are only collected per module.
  A per class information is not available.
  * items per class
  * documented/undocumented per class
  * coverage per class

[2022-04-11 12:18] MiWeiss commented on #30
Hi @Paebbels and thanks for your comments!

Some comments:

1.  **Use Case** Do I understand your use-case correctly: The main purpose is that you want to show the documentation coverage to users (or to developers?) in the browser? Why would they want to know? (I'm not skeptical of your use case, I just want to make sure I understand its motivation in detail).
2. **Per-Class information** This is

[2022-04-11 18:50] Paebbels commented on #30
@MiWeiss for an abstract and internal data model I was thinking more about like such:

(I just did some quick modelling)

[code]

[2022-07-10 13:45] MiWeiss commented on #30
Excuse my late answer - have not noticed yours...

To get more fine-grained information, similar to what you proposed above, call `docstr_coverage.analyze` from your python code. That should give you most / all you need.

Note that the interface of `docstr_coverage.analyze` is experimental and will change in the future (likely, by providing even more info)

[2022-07-10 13:45] #30 closed

[2022-08-30 15:02] caffeinatedMike opened #115 "Feature Request: Add support for pyproject.toml"
For some developers, like myself, `pyproject.toml` has become the central file for housing configuration for various CI/CD tool configurations in order to avoid having individual config files per-tool, which quickly becomes a headache to maintain.

With that being said, would you be open to adding support for housing the configuration within a project's `pyproject.toml` file? I understand that thi

[2022-08-30 17:56] MiWeiss commented on #115
Hi @caffeinatedMike

Thanks for bringing this up - supporting `pyproject.toml` has long been on our roadmap.

### Additional Dependency
For what regards the additional dependence; I think its ok:
1. @HunterMcGushion already previously agreed to support `toml` files, and there's no way around the additional lib.
2. When adding `yml` support, we did the same.
3. The `toml` dependency is appears ligh

[2022-08-30 18:43] HunterMcGushion commented on #115
@MiWeiss beat me to the punch, but I agree with everything he said. I'm a big fan of reducing config files, so thanks for supporting this feature, @caffeinatedMike!

[2022-08-31 10:14] caffeinatedMike commented on #115
@MiWeiss @HunterMcGushion I'd be happy to contribute this change. But, just as a heads up, I won't have the bandwidth until next week at the earliest.

[2022-08-31 12:44] MiWeiss commented on #115
Awesome! Thanks heaps!

[2022-10-04 01:49] caffeinatedMike commented on #115
@MiWeiss sorry, I haven't been able to commit any time to projects outside of work for the last month

[2022-10-04 03:56] MiWeiss commented on #115
@caffeinatedMike no worries :-) Can I keep the issue assigned to you, i.e., do you think you'll find the time to open a PR anytime soon?

[2022-10-04 14:01] caffeinatedMike commented on #115
@MiWeiss It's your call. Unfortunately, I don't foresee things calming down until mid-November at the very earliest. We have a new-hire coming aboard, which I'll be helping get up to speed.

[2022-10-15 13:34] MiWeiss commented on #115
No problem. If that's ok with you, I'll open the issue for anyone to work on it (it's hacktoberfest, hence we may find someone), put please comment again when you're available and I'll happily re-assign the issue to you :-)